* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.github-link {
    position: absolute;
    top: 15px;
    right: 10px;
}

.github-link a {
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.github-link a:hover {
    background-color: #e0e0e0;
}

.container {
    text-align: center;
}

h2 {
    margin-bottom: 40px;
}

.players {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.player {
    padding: 10px 20px;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 1.2em;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #e6a254;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 2px solid #000;
    font-size: 5em;
    cursor: pointer;
}

.flex {
    display: flex;
}

#message-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    width: 300px;
    height: 200px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

.hidden {
    display: none;
}